<!DOCTYPE html>

<head>
    <title>Hooman's AI FragFinder</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='dog.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
    <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
    <h3>Hooman's AI FragFinder</h3>
    <form action="/" method="post">
        <label for="frag">What if your dream fragrance already exists? Write us a fictional review of the fragrance
            you'd like, and we'll recommend some to you:</label>
        <textarea id="frag" name="frag" rows="8"
            cols="75"> {{query or "Describe your desired fragrance in a few sentences..."}}</textarea>
        <input type="submit" value="Get recommendations." />
    </form>
    {% if result %}
    <div class="result">{{ result|safe }}</div>
    {% endif %}
    <h2>Powered by OpenAI</h2>

</body>